name: Python Selenium Tests
on:
  workflow_dispatch:
    inputs:
      browser:
        description: 'Browser to run tests on (chrome, firefox, edge, ie)'
        required: true
        type: choice
        options: [chrome, firefox, edge, ie]
      tags:
        description: 'Comma-separated tags to filter tests (optional)'
        type: string
jobs:
  test_automation:
  
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest==7.2.2
          pip install pytest-depends==1.0.1
          pip install pytest-forked==1.6.0
          pip install pytest-html==4.1.1
          pip install pytest-metadata==3.1.1
          pip install pytest-order==1.2.0
          pip install pytest-xdist==3.5.0
          pip install selenium==4.8.3
          pip install webdriver-manager==4.0.1
      - name: Get tags from workflow dispatch (optional)
        id: get_tags
        run: |
          # Get tags passed during manual workflow execution
          TAGS=${{ github.event.inputs.tags }}
          if [[ -z "$TAGS" ]]; then
              echo "No tags provided. Hence running Regression suite"
              TAGS="regression"
          else
              echo "Running tests with tags: $TAGS"
          echo "execution_tag=$TAGS" >> $GITHUB_OUTPUT
          fi
      - name: Run Selenium tests on ${{ github.event.inputs.browser }}
        run: |
          python -m py.test --html=results/report.html --browser_name=${{ github.event.inputs.browser }} -m ${{steps.get_tags.outputs.execution_tag}} -n 2 -v
      - uses: actions/upload-artifact@v3  # Upload test report
        with:
          name: Results
          path: ./results 
